.modal-wrapper.sc-ion-modal-md {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
:root{
  ion-item{
  font-size: 20px;
  }

  ion-tab-button{
  font-size: 16px;
  }

  ion-button{
  font-size: 16px;
  }
}
